.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

svg {
  overflow: visible;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
}

input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid navy;
}

path.focus {
  filter: drop-shadow(0 0 1px);
}